.position {
  color: rgb(39, 40, 34);

  svg {
    color: inherit;
  }

  .company-title {
    margin: 5px 0;
  }

  .position-title {
    margin: 5px 0;
  }

  .location-title {
    margin: 5px 0;
  }

  .list-title {
    font-weight: bold;
  }

  .bold {
    font-weight: bold;
  }

  .flex-skills {
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
  }

  ul {

    li {

    }
  }
}