.licence-or-certification {
  color: rgb(39, 40, 34);

  .title {
    margin: 5px 0;
  }

  .issuer {
    margin: 5px 0;
  }

  .flex-skills {
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
  }
}