.licence-or-certification {
  color: rgb(39, 40, 34);

  .title-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: start;
  }

  .title {
    margin: 5px 0;
    color: inherit;
  }

  .issuer {
    margin: 5px 0;
  }

  .flex-skills {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
  }
}