.dark-mode {
  .about-section {
    &::before {
      background: radial-gradient(circle, #5000ca 8%, transparent 0),
      radial-gradient(circle, transparent 10%, #0d1116 14%);
      background-size: 30px 30px; /* Adjust the size of the pattern */

    }
  }

}

.about-section {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0px 15%;
  min-height: 700px;
  width: 100%;
  height: 100%;
  background: lightblue;
  position: relative;
  overflow: hidden;
  z-index: 10;

  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, #5000ca 8%, transparent 0),
    radial-gradient(circle, transparent 10%, #f8f9fa 14%);
    background-size: 30px 30px;
    animation: moveBackground 50s linear infinite; /* Adjust the animation duration and timing function */
  }
}

.about-section .content {
  text-align: left;
  z-index: 2;

  .social_icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;

    svg {
      font-size: 1.8em;
      color: inherit;
    }
  }

  .mobile_social_icons {
    display: none;
  }

  p {
    &.current-position {
      font-size: 1.5em;
      margin-block-start: 0px;
      margin-block-end: 0px;
    }

    &.underline {
      text-decoration: underline;
    }
  }

  h1 {
    font-size: 5em;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }

  .flex-chips {
    margin-top: 20px;
  }
}

.about-section .image-wrapper {
  z-index: 2;

  img {
    width: 150px;
    border-radius: 50%;
  }
}

.about p {
  text-align: center;
  padding-top: 30%;
  padding-bottom: 30%;
}

@media screen {
  @media (max-width: 567px) {
    .nav-left {
      padding-top: 20px;
      float: left;
    }

    .nav-left img {
      height: 35px
    }

    .nav-right {
      float: right;
    }

    .nav-right li {
      padding: 10px 15px;
      list-style: none;
      font-size: 13px;
      color: white;
      width: 10%;
    }

    .nav-right ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
    }

    body {
      width: 100%;
    }

    .about {
      padding-left: 5%;
      padding-right: 5%;
      font-size: 12px;
    }
  }

  @media (max-width: 768px) {
    .about-section h1 {
      font-size: 4em !important;
      text-align: left;
    }

    .about-section p {
      text-align: left;
    }

    .container {
      display: initial;
    }

    .social_icons {
      display: none !important;
    }

    .mobile_social_icons {
      padding-top: 10px;
      display: flex !important;
      flex-direction: row;
      gap: 10px;
      color: white;

      svg {
        font-size: 1.8em;
      }
    }

    .about-section {
      padding-top: 150px;
      display: block;
      padding-left: 0px;
      padding-right: 0px;
    }

    .about-section .content {
      width: 90%;
      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 5%;
    }

    .about-section .image-wrapper {
      padding-left: 5%;
      width: 100%;
    }
  }
}

@keyframes moveBackground {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(20%, 20%);
  }
}